<div class="well">
<% @mis_pedidos.each do |pedido| %>
    <%= link_to image_tag(pedido.producto.photo, class:"pedido", size:"56x56"), producto_pedido_path(pedido.producto, pedido), method: :delete%>
<% end %>
</div>

<% @productos.each_slice(@productos.count / 4 ) do |producto_col| %>
  <div class="col-md-3">
  <% producto_col.each do |producto| %>
        <div class="item thumbnail">
            <%= producto.name %>
            <img src="<%= producto.photo %>" class="img-responsive "> 
            <%= producto.stock %>
<!--             <%= link_to 'Show', producto %>
            <%= link_to 'Edit', edit_producto_path(producto) %>
            <%= link_to 'Destroy', producto, method: :delete, data: { confirm: 'Are you sure?' } %>

 -->    
            <a href="<%= new_producto_pedido_path(producto) %>" class="btn btn-primary"> pedir </a>
            </div>

    <% end %>
    </div>
<% end %>

</div>
<%= link_to 'New Producto', new_producto_path %>
