
<% @productos.each_slice(@productos.count / 4 ) do |producto_col| %>
  <div class="col-md-3">
  <% producto_col.each do |producto| %>
        <div class="item thumbnail">
            <%= producto.name %>
            <img src="<%= producto.photo %>" class="img-responsive "> 
            <%= producto.stock %>
<!--             <%= link_to 'Show', producto %>
            <%= link_to 'Edit', edit_producto_path(producto) %>
            <%= link_to 'Destroy', producto, method: :delete, data: { confirm: 'Are you sure?' } %>

 -->    
            <a href="<%= new_producto_pedidos_path(producto) %>" class="btn btn-primary"> pedir </a>
            </div>

    <% end %>
    </div>
<% end %>


<%= link_to 'New Producto', new_producto_path %>
</div>